.nav {
  margin-block-end: 2rem;

  & a {
    color: currentColor;
    text-decoration: none;

    &:focus,
    &:hover {
      color: hsl(var(--interactive));
    }
  }
}

.nav-blog {
  left: 100%;
  line-height: 0.7;
  margin-inline-start: 0.625rem;
  position: absolute;
  top: 0;
}

.nav-link {
  font-size: var(--d2);
  font-weight: 500;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.nav-list {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  line-height: 0.85;
  list-style-type: none;
  margin-block-start: 0.5rem;
  min-width: 100%;
  padding-inline-start: 0;
}

.nav-item {
  margin-inline-start: 0.625rem;
}

.nav-logo {
  border-radius: 3px;
  display: block;
  height: 3rem;
  width: 3rem;
}

.nav-page {
  margin-inline-start: auto;
}

.nav-title {
  margin: 0;
  position: relative;
}
