.post-body {
  font-size: 1rem;

  @media (min-width: 800px) {
    font-size: var(--u1);
  }

  & img,
  & video {
    height: auto;
    max-width: 100%;
  }

  & .icon-link {
    background-image: url('/assets/images/icon-link-black.svg');
    height: 1.25rem;
    opacity: 0;
    position: absolute;
    right: calc(100% + 0.5rem);
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;

    @media (prefers-color-scheme: dark) {
      background-image: url('/assets/images/icon-link-white.svg');
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  & a {
    color: currentColor;

    &:focus,
    &:hover {
      color: hsl(var(--interactive));
    }
  }

  & pre,
  & code {
    font-family: var(--mono);
    font-size: var(--d2);
  }

  & pre {
    background: hsl(var(--bg-accent));
    border-inline-start: 5px solid hsl(var(--fg));
    box-sizing: border-box;
    line-height: 1.375;
    margin-inline-start: -2rem;
    max-width: calc(100% + 4rem);
    overflow-x: auto;
    padding: 2rem;
    width: calc(100% + 4rem);
  }

  & p {
    line-height: var(--ld1);
    margin-block-end: 2em;
    margin-block-start: 2em;
    max-width: 35em;

    & code {
      background: hsl(var(--bg-accent));
      display: inline-block;
      padding: 0.25em 0.5em;
    }
  }

  & blockquote {
    background: hsl(var(--bg-accent));
    border-inline-start: 2px solid hsl(var(--fg));
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding: 2rem;

    & p {
      margin-block-end: 0;
      margin-block-start: 0;

      & ~ p {
        margin-block-start: 2rem;
      }
    }
  }

  & figure {
    display: block;
    margin-block-end: 2rem;
    margin-block-start: 2rem;
    margin-inline-end: 0;
    margin-inline-start: 0;

    & figcaption {
      font-size: var(--d2);
      font-weight: 700;
      margin-block-start: 2rem;
      text-align: center;
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    position: relative;

    &:hover .icon-link {
      opacity: 1;
    }
  }

  & h2 {
    margin-block-end: 0.5em;
    margin-block-start: 2em;
  }

  & ol,
  & ul {
    counter-reset: list;
    padding-inline-start: 0;
  }

  & li {
    line-height: var(--ld1);
    margin-block-end: 1rem;
    margin-block-start: 1rem;
  }

  & ol li {
    counter-increment: list;
    list-style: none;
    position: relative;

    &::before {
      align-items: center;
      border: 1px solid currentColor;
      content: counter(list);
      display: flex;
      font-size: var(--d1);
      height: 1.5em;
      justify-content: center;
      margin-inline-end: 1rem;
      position: absolute;
      right: 100%;
      text-align: center;
      top: 0;
      width: 1.5em;
    }
  }

  & table {
    border: 1px solid currentColor;
    border-collapse: collapse;
    font-size: var(--d1);
    max-width: 100%;
    width: 100%;
  }

  & td {
    padding: 0.75rem 1rem;
  }

  & tr:nth-of-type(odd) td {
    background: hsl(var(--bg-accent));
  }

  & th {
    border-bottom: 1px solid currentColor;
    font-size: var(--d2);
    letter-spacing: 0.0625em;
    padding: 1rem;
    text-transform: uppercase;
  }
}

.post-header {
  border: 4px solid currentColor;
  box-sizing: border-box;
  margin-left: -4px;
  min-height: 12rem;
  padding: 1.5rem;
  width: calc(100% + 8px);
}

.post-meta {
  border-spacing: collapse;
  font-family: var(--mono);
  font-size: var(--d2);
  margin-block-end: 0;
  margin-block-start: 0.5rem;

  /* stylelint-disable-next-line no-descending-specificity */
  & a {
    color: hsl(var(--fg));

    &:focus,
    &:hover {
      color: hsl(var(--interactive));
    }
  }

  & td {
    padding-inline-end: 1rem;
  }
}

.post-title {
  font-size: var(--u8);
  line-height: 0.9;
  margin-block-end: 1rem;
}

/* highlight.js */

.hljs-comment {
  opacity: 0.625;
}
