@charset "UTF-8";
:root {
  /* color */
  --interactive: 223, 100%, 50%;
  --bg: 0, 0%, 98%;
  --bg-accent: 0, 0%, 94%;
  --fg: 0, 0%, 12%;
  /* color: text */
  --text: hsl(var(--fg));
  /* font 2.25× every 6 steps */
  --u18: 11.390625em;
  --u17: 9.950627481136905em;
  --u16: 8.692673779389363em;
  --u15: 7.59375em;
  --u14: 6.63375165409127em;
  --u13: 5.795115852926242em;
  --u12: 5.0625em;
  --u11: 4.422501102727513em;
  --u10: 3.8634105686174953em;
  --u9: 3.375em;
  --u8: 2.9483340684850083em;
  --u7: 2.575607045744997em;
  --u6: 2.25em;
  --u5: 1.9655560456566725em;
  --u4: 1.7170713638299977em;
  --u3: 1.5em;
  --u2: 1.3103706971044482em;
  --u1: 1.1447142425533319em;
  --d1: 0.8735804647362989em;
  --d2: 0.7631428283688879em;
  --d3: 0.6666666666666666em;
  --d4: 0.5823869764908659em;
  --d5: 0.5087618855792586em;
  --d6: 0.4444444444444444em;
  --d7: 0.3882579843272439em;
  --d8: 0.3391745903861724em;
  --d9: 0.2962962962962963em;
  --d10: 0.2588386562181626em;
  --d11: 0.22611639359078162em;
  --d12: 0.19753086419753085em;
  --d13: 0.17255910414544176em;
  --d14: 0.15074426239385438em;
  --d15: 0.13168724279835392em;
  --d16: 0.11503940276362785em;
  --d17: 0.10049617492923625em;
  --d18: 0.0877914951989026em;
  /* leading */
  --ld1: 1.75;
  /* families */
  --mono: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", monospace;
  --sans: "Cardinal Grotesque", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica",
    "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-display: swap;
  font-family: "Cardinal Grotesque";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/CardinalGrotesqueWide-Light.woff2") format("woff2"), url("/assets/fonts/CardinalGrotesqueWide-Light.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Cardinal Grotesque";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/CardinalGrotesqueWide-LightItalic.woff2") format("woff2"), url("/assets/fonts/CardinalGrotesqueWide-LightItalic.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Cardinal Grotesque";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/CardinalGrotesqueWide-Medium.woff2") format("woff2"), url("/assets/fonts/CardinalGrotesqueWide-Medium.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Cardinal Grotesque";
  font-style: italic;
  font-weight: 500;
  src: url("/assets/fonts/CardinalGrotesqueWide-MediumItalic.woff2") format("woff2"), url("/assets/fonts/CardinalGrotesqueWide-MediumItalic.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Cardinal Grotesque";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/CardinalGrotesqueWide-SemiBold.woff2") format("woff2"), url("/assets/fonts/CardinalGrotesqueWide-SemiBold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Cardinal Grotesque";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/CardinalGrotesqueWide-SemiBoldItalic.woff2") format("woff2"), url("/assets/CardinalGrotesqueWide-SemiBoldItalic.woff") format("woff");
}
html {
  font-size: 16px;
}

html,
body {
  background: hsl(var(--bg));
}

body {
  color: hsl(var(--fg));
  font-family: var(--sans);
  font-size: 16px;
  margin: 0;
}
@media (min-width: 800px) {
  body {
    font-size: var(--u1);
  }
}

pre,
code {
  font-family: var(--mono);
}

img,
video {
  height: auto;
  max-width: 100%;
}

h1 {
  font-size: var(--u6);
  margin-block-start: 0;
}

a {
  color: hsl(var(--interactive));
}

p {
  line-height: var(--ld1);
  margin-block-end: 3em;
  margin-block-start: 3em;
  max-width: 35em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: 0, 0%, 6%;
    --bg-accent: 0, 0%, 14%;
    --fg: 0, 0%, 96%;
    --interactive: 220, 100%, 60%;
  }
}
.footer {
  font-size: var(--d2);
  margin-block-end: 4rem;
  margin-block-start: 4rem;
  text-align: center;
}

.nav {
  margin-block-end: 2rem;
}
.nav a {
  color: currentColor;
  text-decoration: none;
}
.nav a:focus, .nav a:hover {
  color: hsl(var(--interactive));
}

.nav-blog {
  left: 100%;
  line-height: 0.7;
  margin-inline-start: 0.625rem;
  position: absolute;
  top: 0;
}

.nav-link {
  font-size: var(--d2);
  font-weight: 500;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.nav-list {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  line-height: 0.85;
  list-style-type: none;
  margin-block-start: 0.5rem;
  min-width: 100%;
  padding-inline-start: 0;
}

.nav-item {
  margin-inline-start: 0.625rem;
}

.nav-logo {
  border-radius: 3px;
  display: block;
  height: 3rem;
  width: 3rem;
}

.nav-page {
  margin-inline-start: auto;
}

.nav-title {
  margin: 0;
  position: relative;
}

.page-title {
  margin-block-end: 2rem;
  margin-block-start: 2rem;
}

.page__about a {
  color: currentColor;
}
.page__about a:focus, .page__about a:hover {
  color: hsl(var(--interactive));
}
.page__about p {
  line-height: var(--ld1);
  margin-block-end: 3em;
  margin-block-start: 3em;
  max-width: 35em;
}

.photo {
  display: block;
  height: auto;
  margin-block-end: 2rem;
  margin-block-start: 2rem;
  max-width: 100%;
}

.postPreview {
  color: hsl(var(--fg));
  display: flex;
  line-height: 1;
  margin-block-end: 4rem;
  text-decoration: none;
}
.postPreview::before {
  background-color: hsl(var(--fg));
  color: hsl(var(--bg));
  content: "post";
  display: block;
  flex-grow: 0;
  font-weight: 700;
  line-height: 0.5;
  margin-inline-end: 1rem;
  padding-block-start: 0.5rem;
  padding-inline-end: 0.25rem;
  padding-inline-start: 0.5rem;
  writing-mode: vertical-lr;
}
.postPreview:hover {
  color: hsl(var(--interactive));
}
.postPreview:hover::before {
  background-color: hsl(var(--interactive));
}

.postPreview-date {
  display: block;
  font-size: var(--d1);
  font-weight: 400;
  letter-spacing: 0.0625em;
  margin-block-start: 0;
}

.postPreview-img {
  background-color: hsl(var(--bg-accent));
  height: 20rem;
  position: relative;
}
.postPreview-img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.postPreview-tagged {
  align-items: center;
  display: flex;
  font-size: var(--d1);
  font-weight: 700;
  margin-block-start: 0.5rem;
}

.postPreview-tag {
  background: hsl(var(--fg));
  color: hsl(var(--bg));
  display: inline-block;
  font-size: var(--d1);
  margin-inline-start: 0.5rem;
  padding-block-end: 0.5em;
  padding-block-start: 0.375em;
  padding-inline-end: 0.5em;
  padding-inline-start: 0.5em;
  top: 0;
}

.postPreview-title {
  font-size: var(--u6);
  font-weight: 500;
  margin-block-end: 0.5rem;
  margin-block-start: 0;
}

.postPreview-summary {
  font-size: 1em;
  line-height: var(--ld1);
  margin-block-end: 1.5rem;
  margin-block-start: 1.5rem;
}

.post-body {
  font-size: var(--u1);
  /* stylelint-disable-next-line no-descending-specificity */
}
@media (min-width: 800px) {
  .post-body {
    font-size: var(--u2);
  }
}
.post-body img, .post-body video {
  height: auto;
  max-width: 100%;
}
.post-body .icon-link {
  background-image: url("/assets/images/icon-link-black.svg");
  height: 1.25rem;
  opacity: 0;
  position: absolute;
  right: calc(100% + 0.5rem);
  top: 50%;
  transform: translateY(-50%);
  width: 1.25rem;
}
@media (prefers-color-scheme: dark) {
  .post-body .icon-link {
    background-image: url("/assets/images/icon-link-white.svg");
  }
}
.post-body a {
  color: currentColor;
}
.post-body a:focus, .post-body a:hover {
  color: hsl(var(--interactive));
}
.post-body pre, .post-body code {
  font-family: var(--mono);
  font-size: var(--d2);
}
.post-body pre {
  background: hsl(var(--bg-accent));
  border-inline-start: 5px solid hsl(var(--fg));
  box-sizing: border-box;
  line-height: 1.375;
  margin-inline-start: -2rem;
  max-width: calc(100% + 4rem);
  overflow-x: auto;
  padding: 2rem;
  width: calc(100% + 4rem);
}
.post-body p {
  line-height: var(--ld1);
  margin-block-end: 2em;
  margin-block-start: 2em;
  max-width: 35em;
}
.post-body p code {
  background: hsl(var(--bg-accent));
  display: inline-block;
  padding: 0.25em 0.5em;
}
.post-body blockquote {
  background: hsl(var(--bg-accent));
  border-inline-start: 2px solid hsl(var(--fg));
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding: 2rem;
}
.post-body blockquote p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.post-body blockquote p ~ p {
  margin-block-start: 2rem;
}
.post-body figure {
  display: block;
  margin-block-end: 2rem;
  margin-block-start: 2rem;
  margin-inline-end: 0;
  margin-inline-start: 0;
}
.post-body figure figcaption {
  font-size: var(--d2);
  font-weight: 700;
  margin-block-start: 2rem;
  text-align: center;
}
.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
  position: relative;
}
.post-body h1:hover .icon-link, .post-body h2:hover .icon-link, .post-body h3:hover .icon-link, .post-body h4:hover .icon-link, .post-body h5:hover .icon-link, .post-body h6:hover .icon-link {
  opacity: 1;
}
.post-body h2 {
  margin-block-end: 0.5em;
  margin-block-start: 2em;
}
.post-body ol, .post-body ul {
  counter-reset: list;
  padding-inline-start: 0;
}
.post-body li {
  line-height: var(--ld1);
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}
.post-body ol li {
  counter-increment: list;
  list-style: none;
  position: relative;
}
.post-body ol li::before {
  align-items: center;
  border: 1px solid currentColor;
  content: counter(list);
  display: flex;
  font-size: var(--d1);
  height: 1.5em;
  justify-content: center;
  margin-inline-end: 1rem;
  position: absolute;
  right: 100%;
  text-align: center;
  top: 0;
  width: 1.5em;
}
.post-body table {
  border: 1px solid currentColor;
  border-collapse: collapse;
  font-size: var(--d1);
  max-width: 100%;
  width: 100%;
}
.post-body td {
  padding: 0.75rem 1rem;
}
.post-body tr:nth-of-type(odd) td {
  background: hsl(var(--bg-accent));
}
.post-body th {
  border-bottom: 1px solid currentColor;
  font-size: var(--d2);
  letter-spacing: 0.0625em;
  padding: 1rem;
  text-transform: uppercase;
}

.post-header {
  border: 4px solid currentColor;
  box-sizing: border-box;
  margin-left: -4px;
  min-height: 12rem;
  padding: 1.5rem;
  width: calc(100% + 8px);
}

.post-meta {
  border-spacing: collapse;
  font-family: var(--mono);
  font-size: var(--d2);
  margin-block-end: 0;
  margin-block-start: 0.5rem;
  /* stylelint-disable-next-line no-descending-specificity */
}
.post-meta a {
  color: hsl(var(--fg));
}
.post-meta a:focus, .post-meta a:hover {
  color: hsl(var(--interactive));
}
.post-meta td {
  padding-inline-end: 1rem;
}

.post-title {
  font-size: var(--u8);
  line-height: 0.9;
  margin-block-end: 1rem;
}

/* highlight.js */
.hljs-comment {
  opacity: 0.625;
}

.wrapper {
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-width: 50em;
  padding-inline-end: 2rem;
  padding-inline-start: 2rem;
}
