<footer class="footer">
  © MMXX
  <br />
  <a href="/{{ collections.posts.rss }}">RSS</a> / <a href="/{{ collections.posts.jsonfeed }}">JSON</a>
  <br />
  this website is encrypted and 100% analytics-free&nbsp;🖤 if you want to support this blog,
  tweet or share&nbsp;a&nbsp;link!
  <br />
  built with <a href="https://cobalt-org.github.io/" rel="noopener noreferrer" target="_blank">Cobalt</a>
  (<a href="https://github.com/dangodev/blog" rel="noopener noreferrer" target="_blank">source</a>)
</footer>
