img,
video {
  height: auto;
  max-width: 100%;
}

.img {
  display: block;
  height: auto;
  left: 0;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.img-crop {
  height: 0;
  margin-block-end: 2rem;
  margin-block-start: 2rem;
  overflow: hidden;
  padding-block-start: 50%;
  position: relative;
}

.meta {
  border-spacing: collapse;
  font-family: var(--mono);
  font-size: var(--d2);
  margin-block-end: 0;
  margin-block-start: 0.5rem;

  & a {
    color: hsl(var(--fg));

    &:focus,
    &:hover {
      color: hsl(var(--interactive));
    }
  }

  & td {
    padding-inline-end: 1rem;
  }
}

.post {
  font-size: var(--u1);

  @media (min-width: 800px) {
    font-size: var(--u2);
  }

  & .icon-link {
    background-image: url('/assets/icon-link-black.svg');
    height: 1.25rem;
    opacity: 0;
    position: absolute;
    right: calc(100% + 0.5rem);
    top: 1rem;
    width: 1.25rem;

    @media (prefers-color-scheme: dark) {
      background-image: url('/assets/icon-link-white.svg');
    }
  }

  & a {
    color: currentColor;

    &:focus,
    &:hover {
      color: hsl(var(--interactive));
    }
  }

  & blockquote {
    background: hsl(var(--bg-accent));
    border-inline-start: 2px solid hsl(var(--fg));
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding: 2rem;

    & p {
      margin-block-end: 0;
      margin-block-start: 0;

      & ~ p {
        margin-block-start: 2rem;
      }
    }
  }

  & figure {
    display: block;
    margin-block-end: 2rem;
    margin-block-start: 2rem;
    margin-inline-end: 0;
    margin-inline-start: 0;

    & figcaption {
      font-size: var(--d2);
      font-weight: 700;
      margin-block-start: 2rem;
      text-align: center;
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    position: relative;

    &:hover .icon-link {
      opacity: 1;
    }
  }

  & ol,
  & ul {
    counter-reset: list;
    padding-inline-start: 0;
  }

  & ol li {
    counter-increment: list;
    list-style: none;
    position: relative;

    &::before {
      align-items: center;
      border: 1px solid currentColor;
      content: counter(list);
      display: flex;
      font-size: var(--d1);
      height: 1.5em;
      justify-content: center;
      margin-inline-end: 1rem;
      position: absolute;
      right: 100%;
      text-align: center;
      top: 0;
      width: 1.5em;
    }
  }

  & li {
    line-height: var(--ld1);
    margin-block-end: 1rem;
    margin-block-start: 1rem;
  }

  & p {
    line-height: var(--ld1);
    margin-block-end: 2em;
    margin-block-start: 2em;
    max-width: 35em;

    & code {
      background: hsl(var(--bg-accent));
      display: inline-block;
      padding: 0.25em 0.5em;
    }
  }

  & pre,
  & code {
    font-family: var(--mono);
    font-size: var(--d2);
  }

  & pre {
    background: hsl(var(--bg-accent));
    border-inline-start: 5px solid hsl(var(--fg));
    line-height: 1.375;
    margin-inline-start: -2rem;
    padding: 2rem;
    width: 100%;
  }
}

.title {
  font-size: var(--u8);
  line-height: 0.9;
  margin-block-end: 0.5rem;
}

/* highlight.js */

.hljs-comment {
  opacity: 0.625;
}
