img,
video {
  height: auto;
  max-width: 100%;
}

.img {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.meta {
  border-spacing: collapse;
  font-family: var(--mono);
  font-size: var(--d2);
  margin-bottom: 0;
  margin-top: 0.5rem;

  & a {
    color: hsl(var(--fg));

    &:focus,
    &:hover {
      color: hsl(var(--interactive));
    }
  }

  & td {
    padding-right: 1rem;
  }
}

.post {
  font-size: var(--u1);

  @media (min-width: 800px) {
    font-size: var(--u2);
  }

  & a {
    color: currentColor;

    &:focus,
    &:hover {
      color: hsl(var(--interactive));
    }
  }

  & blockquote {
    background: hsl(var(--bg-accent));
    border-left: 2px solid hsl(var(--fg));
    margin-left: 0;
    margin-right: 0;
    padding: 2rem;

    & p {
      margin-bottom: 0;
      margin-top: 0;

      & ~ p {
        margin-top: 2rem;
      }
    }
  }

  & ol,
  & ul {
    counter-reset: list;
    padding-left: 0;
  }

  & ol li {
    counter-increment: list;
    list-style: none;
    position: relative;

    &::before {
      align-items: center;
      border: 1px solid currentColor;
      content: counter(list);
      display: flex;
      font-size: var(--d1);
      height: 1.5em;
      justify-content: center;
      margin-right: 1rem;
      position: absolute;
      right: 100%;
      text-align: center;
      top: 0;
      width: 1.5em;
    }
  }

  & li {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  & p {
    line-height: var(--ld1);
    margin-bottom: 3em;
    margin-top: 3em;
    max-width: 35em;

    & code {
      background: hsl(var(--bg-accent));
      display: inline-block;
      margin-left: 0.375em;
      margin-right: 0.375em;
      padding: 0.375em 0.75em;
    }
  }

  & pre,
  & code {
    font-family: var(--mono);
    font-size: var(--d2);
  }

  & pre {
    border-left: 5px solid hsl(var(--fg));
    background: hsl(var(--bg-accent));
    line-height: 1.375;
    margin-left: -2rem;
    padding: 2rem;
    width: 100%;
  }
}

.title {
  font-size: var(--u8);
  line-height: 0.9;
  margin-bottom: 0.5rem;
}

/* highlight.js */

.hljs-comment {
  opacity: 0.625;
}
