a {
  color: currentColor;

  &:focus,
  &:hover {
    color: hsl(var(--interactive));
  }
}

p {
  line-height: var(--ld1);
  margin-bottom: 3em;
  margin-top: 3em;
  max-width: 35em;
}

.img {
  display: block;
  height: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 100%;
}
