// --------------
//  (F)ont (S)ize
// --------------

.fs-u18 {
  font-size: 11.390625em;
}
.fs-u17 {
  font-size: 9.950627481136905em;
}
.fs-u16 {
  font-size: 8.692673779389363em;
}
.fs-u15 {
  font-size: 7.59375em;
}
.fs-u14 {
  font-size: 6.63375165409127em;
}
.fs-u13 {
  font-size: 5.795115852926242em;
}
.fs-u12 {
  font-size: 5.0625em;
}
.fs-u11 {
  font-size: 4.422501102727513em;
}
.fs-u10 {
  font-size: 3.8634105686174953em;
}
.fs-u9 {
  font-size: 3.375em;
}
.fs-u8 {
  font-size: 2.9483340684850083em;
}
.fs-u7 {
  font-size: 2.575607045744997em;
}
.fs-u6 {
  font-size: 2.25em;
}
.fs-u5 {
  font-size: 1.9655560456566725em;
}
.fs-u4 {
  font-size: 1.7170713638299977em;
}
.fs-u3 {
  font-size: 1.5em;
}
.fs-u2 {
  font-size: 1.3103706971044482em;
}
.fs-u1 {
  font-size: 1.1447142425533319em;
}
.fs-d1 {
  font-size: 0.8735804647362989em;
}
.fs-d2 {
  font-size: 0.7631428283688879em;
}
.fs-d3 {
  font-size: 0.6666666666666666em;
}
.fs-d4 {
  font-size: 0.5823869764908659em;
}
.fs-d5 {
  font-size: 0.5087618855792586em;
}
.fs-d6 {
  font-size: 0.4444444444444444em;
}
.fs-d7 {
  font-size: 0.3882579843272439em;
}
.fs-d8 {
  font-size: 0.3391745903861724em;
}
.fs-d9 {
  font-size: 0.2962962962962963em;
}
.fs-d10 {
  font-size: 0.2588386562181626em;
}
.fs-d11 {
  font-size: 0.22611639359078162em;
}
.fs-d12 {
  font-size: 0.19753086419753085em;
}
.fs-d13 {
  font-size: 0.17255910414544176em;
}
.fs-d14 {
  font-size: 0.15074426239385438em;
}
.fs-d15 {
  font-size: 0.13168724279835392em;
}
.fs-d16 {
  font-size: 0.11503940276362785em;
}
.fs-d17 {
  font-size: 0.10049617492923625em;
}
.fs-d18 {
  font-size: 0.0877914951989026em;
}

// ---------------
//  (T)ext (A)lign
// ---------------

.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}

// ---------------------
//  (M)argin & (P)adding
// ---------------------

$directions: 'b' 'bottom', 'l' 'left', 't' 'top', 'r' 'right';
$max-size: 16;

@each $abbr, $direction in $directions {
  @for $i from 0 through $max-size {
    .m#{$abbr}#{$i} {
      margin-#{$direction}: #{$i/2}rem;
    }
  }
}

@each $abbr, $direction in $directions {
  @for $i from 0 through $max-size {
    .p#{$abbr}#{$i} {
      padding-#{$direction}: #{$i/2}rem;
    }
  }
}

@each $abbr, $direction in $directions {
  @for $i from 1 through $max-size {
    .m#{$abbr}#{$i}r {
      margin-#{$direction}: #{$i/4}em;
    }
  }
}

@each $abbr, $direction in $directions {
  @for $i from 1 through $max-size {
    .p#{$abbr}#{$i}r {
      padding-#{$direction}: #{$i/4}em;
    }
  }
}
