html {
  font-size: 16px;
}

html,
body {
  background: hsl(var(--bg));
}

body {
  color: hsl(var(--fg));
  font-family: var(--sans);
  font-size: 16px;
  margin: 0;

  @media (min-width: 800px) {
    font-size: var(--u1);
  }
}

pre,
code {
  font-family: var(--mono);
}

img,
video {
  height: auto;
  max-width: 100%;
}

h1 {
  font-size: var(--u6);
  margin-block-start: 0;
}

a {
  color: hsl(var(--interactive));
}

p {
  line-height: var(--ld1);
  margin-block-end: 3em;
  margin-block-start: 3em;
  max-width: 35em;
}
