<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    {% include 'assets.liquid' %}
    {% include 'meta.liquid' %}
  </head>
  <body>
    {%- include 'header.liquid' -%}
    <main role="main" class="page page__{{ page.collection }}">
      {{ page.content }}
    </main>
    {%- include 'footer.liquid' -%}
  </body>
</html>
